UBLCommonAggregateComponentsSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- File: UBLCommonAggregateComponentsSchema.xml -->
<!-- Simplified Extract UBL Common Aggregate Components schema -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="UBLCommonAggregateComponents"
    xmlns="UBLCommonAggregateComponents"
    xmlns:cbc="UBLCommonBasicComponents"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

<!-- ===== Imports ===== -->

    <xs:import namespace="UBLCommonBasicComponents"
	schemaLocation="https://github.com/ggerardfl/UBL/blob/main/UBLCommonBasicComponentsSchema.xml"/>
    
<!-- ===== Aggregate Elements ===== -->

  <!-- ProviderParty element -->
    <xs:element name="ProviderParty">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="Party" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- AccountingSupplierParty element -->
    <xs:element name="AccountingSupplierParty">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="Party" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- SellerSupplierParty element -->
    <xs:element name="SellerSupplierParty">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="Party" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- ReceiverParty element -->
    <xs:element name="ReceiverParty">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="Party" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- AccountingCustomerParty element -->
    <xs:element name="AccountingCustomerParty">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="Party" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- BuyerCustomerParty element -->
    <xs:element name="BuyerCustomerParty">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="Party" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- Party element -->
    <xs:element name="Party">
    <xs:complexType>
    <xs:sequence>
     	<xs:element ref="PartyName" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="PostalAddress" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="Contact" minOccurs="0" maxOccurs="1"/>	    
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- PartyName element -->
    <xs:element name="PartyName">
    <xs:complexType>
    <xs:sequence>
     	<xs:element ref="cbc:Name" minOccurs="1" maxOccurs="1"/>	    
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- PostalAddress element -->
    <xs:element name="PostalAddress">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:StreetName" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:BuildingNumber" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:CityName" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:PostalZone" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:CountrySubentityCode" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="Country" minOccurs="1" maxOccurs="1"/>  
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- Country element -->
    <xs:element name="Country">
    <xs:complexType>
    <xs:sequence>
     	<xs:element ref="cbc:IdentificationCode" minOccurs="1" maxOccurs="1"/>	    
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- CatalogueLine element -->
    <xs:element name="CatalogueLine">
    <xs:complexType>
    <xs:sequence>
    <xs:element ref="cbc:ID"   minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:MinimumOrderQuantity"   minOccurs="0" maxOccurs="1"/>
	<xs:element ref="cbc:WarrantyInformation"   minOccurs="0" maxOccurs="1"/>
	<xs:element ref="RequiredItemLocationQuantity" minOccurs="0" maxOccurs="1"/>
	<xs:element name="Price" minOccurs="0" maxOccurs="1"/>
	<xs:element name="Item" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>
	
   <!-- RequiredItemLocationQuantity element -->
    <xs:element name="RequiredItemLocationQuantity">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="Price" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- Price element -->
    <xs:element name="Price">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:PriceAmount" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:BaseQuantity" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:PriceTypeCode" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- LegalMonetaryTotal element -->
    <xs:element name="LegalMonetaryTotal">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:LineExtensionAmount" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:ShippingCharge" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:PayableAmount" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- Item element -->
    <xs:element name="Item">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:Description" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:CatalogueIndicator" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="cbc:Name" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="SellersItemIdentification" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="CatalogueItemIdentification" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- SellersItemIdentification element -->
    <xs:element name="SellersItemIdentification">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:ID" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="PhysicalAttribute" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="MeasurementDimension" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- PhysicalAttribute element -->
    <xs:element name="PhysicalAttribute">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:AttributeID" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:Description" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- MeasurementDimension element -->
    <xs:element name="MeasurementDimension">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:AttributeID" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:Measure" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- OrderLine element -->
    <xs:element name="OrderLine">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="LineItem" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- InvoiceLine element -->
    <xs:element name="InvoiceLine">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="LineItem" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

  <!-- DespatchLine element -->
    <xs:element name="DespatchLine">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="LineItem" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- LineItem element -->
    <xs:element name="LineItem">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:ID" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:Quantity" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:LineExtensionAmount" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:TotalTaxAmount" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="Price" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="Item" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- CatalogueItemIdentification element -->
    <xs:element name="CatalogueItemIdentification">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:ID" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- OrderReference element -->
    <xs:element name="OrderReference">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:ID" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:SalesOrderID" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:IssueDate" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

   <!-- Contact element -->
    <xs:element name="Contact">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:Name" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:Telephone" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="cbc:ElectronicMail" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>
	
	<!-- UBLExtensions element -->
    <xs:element name="UBLExtensions">
    <xs:complexType>
    <xs:sequence>
	<xs:element ref="cbc:ExtensionElement" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    </xs:complexType>
    </xs:element>
 	
</xs:schema>
  